<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Purchase Item">
    <listeners>
        <listener class-name="reporter.ExtentReportListener" />
    </listeners>
    <test name="Purchase Item">
        <classes>
            <class name="e2e.PurchaseItem" />
        </classes>
    </test>

</suite>