<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/burak.tuna/IdeaProjects/PLT">
        <classes>
            <class name="e2e.PurchaseItem">
                <methods>
                    <include name="selectProduct"/>
                    <include name="addToCardPage"/>
                    <include name="login"/>
                    <include name="checkOutPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>